body {
    background-color: black;
    color: white;
    font-family: verdana, arial, sans-serif;
    text-align: center; /* Center text horizontally */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    height: 100vh; /* Set body height to full viewport height */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    overflow: hidden; /* Hide overflow content */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0; /* Add margin to the top and bottom */
    padding: 20px; /* Add padding */
    max-width: 600px; /* Limit container width for readability */
    width: 90%; /* Set container width to 90% of the available space */
}

input[type="text"],
button {
    margin-bottom: 10px; /* Add margin to the bottom of input and button */
    padding: 8px; /* Add padding to input and button */
    font-size: 16px; /* Adjust font size */
}

.form-group {
    margin-bottom: 20px; /* Add vertical distance between label and input */
}

.background-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255,255,255,0.1) 0%, rgba(255,165,0,1) 100%);
    animation: slide 5s linear infinite;
}


.text-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap; /* Prevent text wrapping */
    animation: slideText 10s linear infinite;
}

@keyframes slideBackground {
    0% { background-position: 0 0; }
    100% { background-position: 0 100%; }
}

@keyframes slideText {
    0% { left: -100%; }
    100% { left: 100%; }
}
